@import me.josh.campbell.inventory.tracker.{Date, Item, Post}
@(title: String, item: Option[Item], action: String, method: String, posts: List[Post])

@views.html.layouts.application(title) {
  <h1 class="formTitle">@title</h1>
  <form action="@action" method="@method" id="itemForm">
    Name: <input type="text" name="name" value="@item.map(_.name)"><br>
    Description: <input type="text" name="description" value="@item.map(_.description)"><br>
    Date Purchased: <input type="date" name="date_purchased" value="@item.map(_.date_purchased.getFormValue).getOrElse(Date.now.getFormValue)"><br>
    Purchase Price: <input type="number" name="purchase_price" step="0.01" value="@item.map(_.purchase_price)"><br>
    Date Sold: <input type="date" name="date_sold" value="@item.flatMap(_.date_sold.map(_.getFormValue))"><br>
    Sale Price: <input type="number" name="sale_price" step="0.01" value="@item.map(_.sale_price)"><br>
    Category: <input type="text" name="category" value="@item.map(_.category)"><br>
    Where Sold: <input type="text" name="where_sold" value="@item.map(_.where_sold)"><br>
    Storage Location: <input type="text" name="storage_location" value="@item.map(_.storage_location)"><br>
    Photos Taken?: <input type="checkbox" name="photos_taken"><br>
    <h3>Posts</h3>
    @posts.map { post =>
      Outlet: <input type="text" name="outlet" value="@post.outlet">
      Link: <input type="text" name="link" value="@post.link">
    }
    <input type="submit" value="Submit" id="formButton">
  </form>
}
